<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Catalyst Cards</title>
		<link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="CatalystAdminApp" ng-controller="CatalystAdminController">
		<div id="catalyst-content-wrapper">
			<!-- Featured Story Management View -->
			<section id="admin-featured-stories-container">
				<h1 class="catalyst-netapp-blue">Manage Featured Stories</h1>		
				<h2 class="catalyst-netapp-green">Currently Displayed Featured Stories</h2>
				<table id="current-featured-stories-table" ng-show="featured_stories.length">
			    	<col width="80px">
			    	<col width="150px">
			    	<col width="150px">
			    	<col width="150px">
			    	<thead>
			    		<tr>
					    	<th>Card</th>
					    	<th>Name</th>
					    	<th>Group</th>
					    	<th>Region</th>
					    	<th></th>
				    	</tr>
			    	</thead>
			    	<tbody>
				    	<tr ng-repeat="story in featured_stories">
					    	<td> <img ng-src="{{ story.card_type_img }}"> </td>
					    	<td> {{ story.name }} </td>
					    	<td> {{ story.group }} </td>
					    	<td> {{ story.region }} </td>
					    	<td> <button ng-click="deleteFeaturedStory(story.id)"> Remove </button> </td>
				    	</tr>
				    </tbody>
			    </table>	
			    <h2 style="color:red;margin-left:60px" ng-hide="featured_stories.length"> There are no entries in the featured stories database. Add one by using the green plus sign next to the story you'd like to add </h2>
			    <h2 class="catalyst-netapp-green">Add a Featured Story</h2>
			    <div id="admin-search-and-filter">
					<div>			    	
				    	<input id="all-view-search" name="query_string" type="text" placeholder="Search Here" ng-model="search.$">
				    	<h3>Filter By Region</h3>
				    	<select class="all-view-dropdown" ng-model="search.region_id" ng-options="region.id as region.title for region in regions"></select>
				    	<h3>Filter By Group</h3>
				    	<select class="all-view-dropdown" ng-model="search.group_id" ng-options="group.id as group.title for group in groups"></select>
				    	<h3>Filter By Card Type</h3>
				    	<img src="images/candor-card.png">
				    	<input class="card-type-filter" name="card_type" value="0" type="radio" ng-model="search.card_type_id">
				    	<img src="images/clarity-card.png">
				    	<input class="card-type-filter" name="card_type" value="1" type="radio" ng-model="search.card_type_id">
				    	<img src="images/ownership-card.png">
				    	<input class="card-type-filter" name="card_type" value="2" type="radio" ng-model="search.card_type_id">
				    	<img src="images/speed-card.png">
				    	<input class="card-type-filter" name="card_type" value="3" type="radio" ng-model="search.card_type_id">
					</div>
					<button id="reset-admin-search-and-filter" ng-click="search = null"> Reset Filters</button>
				</div>
				<table id="admin-results-table">
					<col width="80px">
					<col width="150px">
					<col width="150px">
					<col width="150px">
					<thead>
						<tr>
					    	<th>Card</th>
					    	<th>Name</th>
					    	<th>Group</th>
					    	<th>Region</th>
				    	</tr>
					</thead>
					<tbody>
				    	<tr style="height:0px" ng-repeat="story in all_stories | filter:search" ng-click="createSelectedStory(story)">
					    	<td> <img ng-src="{{ story.card_type_img }}"> </td>
					    	<td> {{ story.name }} </td>
					    	<td> {{ story.group }} </td>
					    	<td> {{ story.region }} <button ng-click="createFeaturedStory(story)">+</button></td>
				    	</tr>
				    </tbody>
				</table>
			</section>
			
			<div id="admin-stats">
				<h1 class="catalyst-netapp-blue"> Statistics </h1>
				<div id="stats">
					
					<div class="stats-output">
						<div class="a-stat-container">
							<div class="container-1">
								<h2>Total Company Stories</h2>
								<h3>Stories: {{ all_stories.length }}</h3>
								<h3>Participation: {{ total_company_participation}} or {{all_stories.length}}/14,106</h3>
								<h3><img src="images/candor-card.png"> {{ total_company_candor_commitments }} <img src="images/clarity-card.png"> {{ total_company_clarity_commitments }} <img src="images/ownership-card.png"> {{ total_company_ownership_commitments }} <img src="images/speed-card.png"> {{ total_company_speed_commitments }}</h3>
							</div>
							<div class="container-2">
								<h2>Total Company Commitments</h2>
								<h3>Commitments: {{ all_commitments.length }}</h3>
								<h3>Participation: {{ total_company_participationc }} or {{all_commitments.length}}/14,106</h3>
								<h3><img src="images/candor-card.png"> {{ total_company_candor_commitmentsc }} <img src="images/clarity-card.png"> {{ total_company_clarity_commitmentsc }} <img src="images/ownership-card.png"> {{ total_company_ownership_commitmentsc }} <img src="images/speed-card.png"> {{ total_company_speed_commitmentsc }}</h3>
							</div>							
						</div>
						<div class="a-stat-container">
							<div class="container-1">
								<h2>Stories per GEO</h2>
								<select class="create-story-input-field" ng-change="updateGeoStats()" ng-model="geo_stats_view.current_geo" ng-options="geo.title for geo in geos | orderBy:'title'"></select>
								<h3>Stories: {{ geo_stats_view.current_geo_num_commitments }}</h3>
								<h3>Participation: {{ geo_stats_view.current_geo_participation_percentage  }}% or {{geo_stats_view.current_geo_num_commitments}}/{{geos[geo_stats_view.current_geo.id].employees}}</h3>
								<h3><img src="images/candor-card.png"> {{ geo_stats_view.current_geo_candor_commitments }} <img src="images/clarity-card.png"> {{ geo_stats_view.current_geo_clarity_commitments }} <img src="images/ownership-card.png"> {{ geo_stats_view.current_geo_ownership_commitments }} <img src="images/speed-card.png"> {{ geo_stats_view.current_geo_speed_commitments }}</h3>
							</div>
							<div class="container-2">
								<h2>Commitments per GEO</h2>
								<select class="create-story-input-field" ng-change="updateGeoStatsC()" ng-model="geo_stats_viewc.current_geo" ng-options="geo.title for geo in geos | orderBy:'title'"></select>
								<h3>Commitments: {{ geo_stats_viewc.current_geo_num_commitments }}</h3>
								<h3>Participation: {{ geo_stats_viewc.current_geo_participation_percentage  }}% or {{geo_stats_viewc.current_geo_num_commitments}}/{{geos[geo_stats_viewc.current_geo.id].employees}}</h3>
								<h3><img src="images/candor-card.png"> {{ geo_stats_viewc.current_geo_candor_commitments }} <img src="images/clarity-card.png"> {{ geo_stats_viewc.current_geo_clarity_commitments }} <img src="images/ownership-card.png"> {{ geo_stats_viewc.current_geo_ownership_commitments }} <img src="images/speed-card.png"> {{ geo_stats_viewc.current_geo_speed_commitments }}</h3>
							</div>							
						</div>
						<div class="a-stat-container">
							<div class="container-1">
								<h2>Stories per location</h2>
								<select class="create-story-input-field" ng-change="updateRegionStats()" ng-model="stats_view.current_region" ng-options="region.id as region.title for region in regions | orderBy:'title'"></select>
								<h3>Stories: {{ stats_view.current_region_num_commitments }}</h3>
								<h3>Participation: {{ stats_view.current_region_participation_percentage }}% or {{stats_view.current_region_num_commitments}}/{{regions[stats_view.current_region].employees}}</h3>
								<h3><img src="images/candor-card.png"> {{ stats_view.current_region_candor_commitments }} <img src="images/clarity-card.png"> {{ stats_view.current_region_clarity_commitments }} <img src="images/ownership-card.png"> {{ stats_view.current_region_ownership_commitments }} <img src="images/speed-card.png"> {{ stats_view.current_region_speed_commitments }}</h3>
							</div>
							<div class="container-2">
								<h2>Commitments per location</h2>
								<select class="create-story-input-field" ng-change="updateRegionStatsC()" ng-model="stats_view_commitments.current_region" ng-options="region.id as region.title for region in regions | orderBy:'title'"></select>
								<h3>Commitments: {{ stats_view_commitments.current_region_num_commitments }}</h3>
								<h3>Participation: {{ stats_view_commitments.current_region_participation_percentage }}% or {{stats_view_commitments.current_region_num_commitments}}/{{regions[stats_view_commitments.current_region].employees}}</h3>
								<h3><img src="images/candor-card.png"> {{ stats_view_commitments.current_region_candor_commitments }} <img src="images/clarity-card.png"> {{ stats_view_commitments.current_region_clarity_commitments }} <img src="images/ownership-card.png"> {{ stats_view_commitments.current_region_ownership_commitments }} <img src="images/speed-card.png">{{ stats_view_commitments.current_region_speed_commitments }}</h3>
							</div>
						</div>
						<div class="a-stat-container">
							<div class="container-1">
								<h2>Stories per group</h2>
								<select class="create-story-input-field" ng-change="updateGroupStats()" ng-model="stats_viewg.current_group" ng-options="group.id as group.title for group in groups | orderBy:'title'"></select>
								<h3>Stories: {{ stats_viewg.current_group_num_commitments }}</h3>
								<h3>Participation: {{ stats_viewg.current_group_participation_percentage }}% or {{stats_viewg.current_group_num_commitments}}/{{groups[stats_viewg.current_group].employees}}</h3> 
								<h3><img src="images/candor-card.png"> {{ stats_viewg.current_group_candor_commitments }} <img src="images/clarity-card.png"> {{ stats_viewg.current_group_clarity_commitments }} <img src="images/ownership-card.png"> {{ stats_viewg.current_group_ownership_commitments }} <img src="images/speed-card.png"> {{ stats_viewg.current_group_speed_commitments }}</h3>
							</div>
							<div class="container-2">
								<h2>Commitments per group</h2>
								<select class="create-story-input-field" ng-change="updateGroupStatsC()" ng-model="stats_viewgc.current_group" ng-options="region.id as region.title for region in groups | orderBy:'title'"></select>
								<h3>Commitments: {{ stats_viewgc.current_group_num_commitments }}</h3>
								<h3> Participation: {{ stats_viewgc.current_group_participation_percentage }}% or {{stats_viewgc.current_group_num_commitments}}/{{groups[stats_viewgc.current_group].employees}} </h3>
								<h3> <img src="images/candor-card.png"> {{ stats_viewgc.current_group_candor_commitments }} <img src="images/clarity-card.png"> {{ stats_viewgc.current_group_clarity_commitments }} <img src="images/ownership-card.png"> {{ stats_viewgc.current_group_ownership_commitments }} <img src="images/speed-card.png">{{ stats_viewgc.current_group_speed_commitments }} </h3>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="js/admin.js" type="text/javascript"></script>
		<script src="js/objects.js" type="text/javascript"></script>
	</body>
</html>