<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Catalyst Cards</title>
		<link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="CatalystApp" ng-controller="CatalystController">
		<main id="catalyst-content-wrapper"> 
			
			<!-- App Header -->
			<nav>
				<ul>
					<li ng-class="{'selected-catalyst-nav': current_view === 'featured'}" ng-click="changeViews('featured')">Featured</li>
					<li ng-class="{'selected-catalyst-nav': current_view === 'all'}" ng-click="changeViews('all')">All</li>
					<li ng-class="{'selected-catalyst-nav': current_view === 'map'}" ng-click="changeViews('map')">Map</li>
				</ul>
			</nav>
			<button id="create-catalyst-button" ng-click="changeViews('create')">Create One!</button>
			<header id="catalyst-types-header" >
				<article class="catalyst-commitment-type">
					<img src="images/candor-card.png">
					<h1 class="catalyst-netapp-blue">Candor</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/clarity-card.png">
					<h1 class="catalyst-netapp-orange">Clarity</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/ownership-card.png">
					<h1 class="catalyst-netapp-purple">Ownership</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/speed-card.png">
					<h1 class="catalyst-netapp-green">Speed</h1>
				</article>
			</header>

			<!-- Featured View -->
			<section id="featured-view" ng-show="current_view === 'featured'" ng-cloak="current_view === 'featured'">
				<article class="catalyst-story" ng-repeat="featured_story in featured_stories">
					<div class="catalyst-story-contents">
						<img class="catalyst-story-catalyst-card" ng-src="{{ featured_story.card_type_img }}">
						<div class="catalyst-story-header">
							<h2 class="catalyst-story-name" ng-class="assignTextColor(featured_story.card_type_id)"> {{ featured_story.name }} </h2>
							<h4 class="catalyst-story-group" ng-class="assignTextColor(featured_story.card_type_id)"> {{ featured_story.group }} </h4>
							<h4 class="catalyst-story-region" ng-class="assignTextColor(featured_story.card_type_id)"> {{ featured_story.region }} </h4>
						</div>
						<p class="catalyst-story-story"> {{ featured_story.story }} </p>
					</div>
					<div class='catalyst-story-photo-container'>
						<img class="catalyst-story-photo" ng-src="{{ featured_story.photo_url }}">
					</div>
				</article>
			</section>

			<!-- Story Creation View -->
			<section id="story-creation-view" ng-show="current_view === 'create'" ng-cloak="current_view === 'create'">
				<div id="story-creation-form">
					<h2>Catalyst Commitment</h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.catalyst_commitment" ng-options="card_type.id as card_type.title for card_type in card_types"></select>
					<h2>First Name</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.first_name">
					<h2>Last Name</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.last_name">
					<h2>Region</h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.region" ng-options="region.id as region.title for region in regions"></select>
					<h2>Group </h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.group" ng-options="group.id as group.title for group in groups"></select>
					<h2>Email</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.email">
					<h2>Share Your Story</h2> 
					<textarea class="create-story-input-field" ng-model="story_creation_input.story"></textarea>
					<h2>Attach a Photo</h2> 
					<button class="create-story-input-field"> Upload Photo</button>
				</div>
				<h1 id="preview-creation-story-header"> Preview </h1>
				<article id="preview-creation-story" class="catalyst-story">
					<div class="catalyst-story-contents">
						<img class="catalyst-story-catalyst-card" ng-src="{{ card_types[ story_creation_input.catalyst_commitment ].img_url }}"> 
						<div class="catalyst-story-header">
							<h2 class="catalyst-story-name" ng-class="{0:'catalyst-netapp-blue', 1:'catalyst-netapp-orange', 2:'catalyst-netapp-purple', 3:'catalyst-netapp-green'}[story_creation_input.catalyst_commitment]"> {{ story_creation_input.first_name }} {{ story_creation_input.last_name }} </h2>
							<h4 class="catalyst-story-group" ng-class="{0:'catalyst-netapp-blue', 1:'catalyst-netapp-orange', 2:'catalyst-netapp-purple', 3:'catalyst-netapp-green'}[story_creation_input.catalyst_commitment]"> {{ groups[story_creation_input.group ].title }} </h4>
							<h4 class="catalyst-story-region" ng-class="{0:'catalyst-netapp-blue', 1:'catalyst-netapp-orange', 2:'catalyst-netapp-purple', 3:'catalyst-netapp-green'}[story_creation_input.catalyst_commitment]"> {{ regions[story_creation_input.region].title }} </h4>
						</div>
						<p class="catalyst-story-story"> {{ story_creation_input.story }} </p>
					</div>
					<div class='catalyst-story-photo-container'>
						<img class="catalyst-story-photo"> <!-- neeed to add ng-src when image uploads -->
					</div>
				</article>
				<button id="submit-story-creation" ng-click="createStoryInDatabase()">Submit</button>
			</section>

			<!-- All View -->
			<section id="all-view" ng-show="current_view === 'all'" ng-cloak="current_view === 'all'">
			    <div id="search-and-filter">
			    	<div>			    	
				    	<input id="all-view-search" name="query_string" type="text" placeholder="Search Here" ng-model="search.$">
				    	<h3>Filter By Region</h3>
				    	<select class="all-view-dropdown" ng-model="search.region_id" ng-options="region.id as region.title for region in regions"></select>
				    	<h3>Filter By Group</h3>
				    	<select class="all-view-dropdown" ng-model="search.group_id" ng-options="group.id as group.title for group in groups"></select>
				    	<h3>Filter By Card Type</h3>
				    	<img src="images/candor-card.png">
				    	<input class="card-type-filter" name="card_type" value="0" type="radio" ng-model="search.card_type_id">
				    	<img src="images/clarity-card.png">
				    	<input class="card-type-filter" name="card_type" value="1" type="radio" ng-model="search.card_type_id">
				    	<img src="images/ownership-card.png">
				    	<input class="card-type-filter" name="card_type" value="2" type="radio" ng-model="search.card_type_id">
				    	<img src="images/speed-card.png">
				    	<input class="card-type-filter" name="card_type" value="3" type="radio" ng-model="search.card_type_id">
			    	</div>
			    	<button id="reset-search-and-filter" ng-click="search = null"> Reset Filters</button>
			    </div>
			    <table id="results-table">
			    	<col width="80px">
			    	<col width="150px">
			    	<col width="150px">
			    	<col width="150px">
			    	<thead>
			    		<tr>
					    	<th>Card</th>
					    	<th>Name</th>
					    	<th>Group</th>
					    	<th>Region</th>
				    	</tr>
			    	</thead>
			    	<tbody>
				    	<tr ng-repeat="story in all_stories | filter:search" ng-click="createSelectedStory(story)">
					    	<td> <img ng-src="{{ story.card_type_img }}"> </td>
					    	<td> {{ story.name }} </td>
					    	<td> {{ story.group }} </td>
					    	<td> {{ story.region }} </td>
				    	</tr>
				    </tbody>
			    </table>
			    <article id="all-stories-selected-story" class="catalyst-story" ng-show="all_stories_selected_story.name" ng-cloak="all_stories_selected_story.name">
					<div class="catalyst-story-contents">
						<img class="catalyst-story-catalyst-card" ng-if="all_stories_selected_story.name" ng-src="{{ all_stories_selected_story.card_type_img }}">
						<div class="catalyst-story-header">
							<h2 class="catalyst-story-name" ng-class="assignTextColor(all_stories_selected_story.card_type_id)"> {{ all_stories_selected_story.name }} </h2>
							<h4 class="catalyst-story-group" ng-class="assignTextColor(all_stories_selected_story.card_type_id)"> {{ all_stories_selected_story.group }} </h4>
							<h4 class="catalyst-story-region" ng-class="assignTextColor(all_stories_selected_story.card_type_id)"> {{ all_stories_selected_story.region }} </h4>
						</div>
						<p class="catalyst-story-story"> {{ all_stories_selected_story.story }} </p>
					</div>
					<div class='catalyst-story-photo-container'>
						<img class="catalyst-story-photo" ng-if="all_stories_selected_story.name" ng-src="{{ all_stories_selected_story.photo_url }}">
					</div>
				</article>
			</section>

			<!-- Map View -->
			<section id="map-view" ng-show="current_view === 'map'" ng-cloak="current_view === 'map'">
				<div ng-show="current_view === 'map'" id="catalyst-map-canvas">
				</div>
			</section>

		</main>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="lib/highcharts.js" type="text/javascript"></script>
		<script src="js/controller.js" type="text/javascript"></script>
		<script src="js/objects.js" type="text/javascript"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn3BEjYGEy9_OCSxT2Y-M6v68xUXN9gNo" type="text/javascript" ></script>
		<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" ></script>
    </script>
	</body>
</html>