<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Catalyst Cards</title>
		<link rel="stylesheet" href="styles/stylesheet.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="CatalystApp" ng-controller="CatalystController">
		<main id="catalyst-content-wrapper"> 
			<!-- App Header -->
			<nav>
				<ul>
					<li ng-class="{'selected-catalyst-nav': current_view === 'featured'}" ng-click="changeViews('featured')">Featured</li>
					<li ng-class="{'selected-catalyst-nav': current_view === 'all'}" ng-click="changeViews('all')">All</li>
					<li ng-class="{'selected-catalyst-nav': current_view === 'map'}" ng-click="changeViews('map')">Map</li>
				</ul>
			</nav>
			<button id="create-catalyst-button" ng-click="changeViews('create')">Create One!</button>
			<header id="catalyst-types-header" >
				<article class="catalyst-commitment-type">
					<img src="images/catcard1.png">
					<h1>Candor</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/catcard1.png">
					<h1>Clarity</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/catcard1.png">
					<h1>Ownership</h1>
				</article>
				<article class="catalyst-commitment-type">
					<img src="images/catcard1.png">
					<h1>Speed</h1>
				</article>
			</header>

			<!-- Featured View -->
			<section id="featured-view" ng-show="current_view === 'featured'">
				<article class="featured-story" ng-repeat="featured_story in featured_stories">
					<div class="featured-story-contents">
						<img class="featured-story-catalyst-card" ng-src="{{ featured_story.card_type }}">
						<div class="featured-story-header">
							<h2 class="featured-story-name"> {{ featured_story.name }} </h2>
							<h4 class="featured-story-group"> {{ featured_story.group }} </h4>
							<h4 class="featured-story-region"> {{ featured_story.region }} </h4>
						</div>
						<p class="featured-story-story"> {{ featured_story.story }} </p>
					</div>
					<div class='featured-story-photo-container'>
						<img class="featured-story-photo" ng-src="{{ featured_story.photo_url }}">
					</div>
				</article>
			</section>

			<!-- Story Creation View -->
			<section id="story-creation-view" ng-show="current_view === 'create'">
				<div id="story-creation-form">
					<h2>First Name</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.first_name">
					<h2>Last Name</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.last_name">
					<h2>Email</h2> 
					<input class="create-story-input-field" type="text" ng-model="story_creation_input.email">
					<h2>region</h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.region" ng-options="region.id as region.title for region in regions"></select>
					<h2>Group </h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.group" ng-options="group.id as group.title for group in groups"></select>
					<h2>Catalyst Commitment</h2> 
					<select class="create-story-input-field" ng-model="story_creation_input.catalyst_commitment" ng-options="card_type.id as card_type.title for card_type in card_types"></select>
					<h2>Share Your Story</h2> 
					<textarea class="create-story-input-field" ng-model="story_creation_input.story"></textarea>
					<h2>Attach a Photo</h2> 
					<button class="create-story-input-field"> Upload Photo</button>
				</div>
				<button id="submit-story-creation" ng-click="createStoryInDatabase()">Submit</button>
			</section>

			<!-- All View -->
			<section id="all-view" ng-show="current_view === 'all'">
			    all view
			</section>

			<!-- Map View -->
			<section id="map-view" ng-show="current_view === 'map'">
				map view
			</section>

		</main>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="lib/highcharts.js" type="text/javascript"></script>
		<script src="js/controller.js" type="text/javascript"></script>
		<script src="js/objects.js" type="text/javascript"></script>
	</body>
</html>