.catalyst-netapp-green {
	color: #658D1B;
} .catalyst-netapp-blue {
	color: #0067C5;
} .catalyst-netapp-purple {
	color: #5F259F;
} .catalyst-netapp-orange {
	color: #E87722;
}
#catalyst-content-wrapper {
	position: relative;
	left: 50%;
	margin: 0px 0px 0px -500px;
	width: 1000px;
	font-family: 'Open Sans', sans-serif;
}
	/* ---- BEGIN APP NAV ---- */
	#catalyst-content-wrapper nav {
		position: absolute;
		cursor: pointer;
		padding: 0;
		left: 319px;
	}
		#catalyst-content-wrapper nav ul{
			display: block;
			overflow: auto;
			padding: 0;
			margin: 0;
			list-style-type: none;
			border: solid 2px #0067C5;
			border-radius: 12px;
		}
			#catalyst-content-wrapper nav ul li {
				display: block;
				float: left;
				font-size: 20px;
				padding: 6px 40px;
				color: #0067C5;
			} #catalyst-content-wrapper nav ul li:hover {
				background-color: #0067C5;
				color: white;
			}
			.selected-catalyst-nav {
				background-color: #0067C5;
				color: white !important;
			}
	#create-story-button {
		cursor: pointer;
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 11px 15px;
		border: none;
		background-color: #C8102E;
		border-radius: 12px;
		font-size: 17px;
		color: white;
	} #create-story-button:focus {
		outline: none;
	} #create-story-button:hover {
		background-color: #AF272F;
	}
	#create-story-button-2 {
		cursor: pointer;
		position: absolute;
		right: 0px;
		bottom: -90px;
		padding: 11px 15px;
		border: none;
		background-color: #C8102E;
		border-radius: 12px;
		font-size: 17px;
		color: white;
		margin-bottom: 40px;
	} #create-story-button-2:focus {
		outline: none;
	} #create-story-button-2:hover {
		background-color: #AF272F;
	}
	#executive-commitments {
		position: absolute;
		cursor: pointer;
		right: 0px;
		padding: 11px 15px;
		border: none;
		background-color: #0067C5;
		border-radius: 12px;
		font-size: 17px;
		color: white;
		text-decoration: none;
	} #executive-commitments:focus {
		outline: none;
	}
	#make-commitment-button {
		cursor: pointer;
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 11px 15px;
		border: none;
		background-color: #C8102E;
		border-radius: 12px;
		font-size: 17px;
		color: white;
	} #make-commitment-button:focus {
		outline: none;
	} #make-commitment-button:hover {
		background-color: #AF272F;
	}

	#catalyst-types-header {
		position: absolute;
		top: 70px;
		margin: 0;
		width: 1000px;
		left: 0px;
	}
		#catalyst-types-header article {
			float: left;
			width: 250px;
			margin: 0;
			padding: 0;
			text-align: center;
		}
			#catalyst-types-header article img {
				width: 100px;
				height: 100px;
				margin: 0;
			}
			#catalyst-types-header article .commitment-type-count {
				display: inline;
				position: relative;
				bottom: 40px;
				left: 5px;
				font-size: 30px;
			}
			#catalyst-types-header article h1 {
				position: relative;
				left: -11px;
				font-size: 18px;
				margin: 0;
			} 
	/* ---- END APP NAV --- */
	/* ---- BEGIN CREATE STORY VIEW ---- */
	#story-creation-view {
		position: absolute;
		font-size: 20px;
		top: 60px;
		width: 1000px;
	}
		#story-creation-view #story-creation-form {
			width: 1000px;
			margin: 0;
			padding: 15px 0px;
			background-color: #edecec;
			list-style-type: none;
			border-radius: 15px;
			overflow: auto;
		}
			#story-creation-view #story-creation-form h2 {
				font-size: 15px;
				width: 300px;
				text-align: right;
				float: left;
				color: #4f4f4f;
				clear: left;
				margin: 13px 0px;
			}
			#story-creation-view #story-creation-form .create-story-input-field {
				float: left;
				border: none;
				margin: 10px 20px;
				background-color: #d5d4d4;
				border-radius: 5px;
				font-size: 12px;
			} #story-creation-view #story-creation-form .create-story-input-field:focus {
				outline: none;
			}
			#story-creation-view #story-creation-form input {
				height: 27px;
				width: 200px;	
				padding: 0px 0px 0px 10px;		
			} 
			#story-creation-view #story-creation-form select {
				height: 27px;
				width: 300px;
				padding: 0px 0px 0px 10px;
			} 
			#story-creation-view #story-creation-form textarea {
				resize: none;
				height: 200px;
				width: 500px;
				padding: 10px;
			} 
			#story-creation-view #story-creation-form button {
				cursor: pointer;
				padding: 15px;
			}
			#photo-upload-warning {
				float: left;
				width: 630px;
				margin: 13px 0px 0px 20px;
				font-size: 15px;
				color: red;
			}
		#story-creation-view #submit-story-creation {
			float: right;
			margin-right: 5px;
			margin-top: 20px;
			margin-bottom: 50px;
			cursor: pointer;
			padding: 11px 15px;
			border: none;
			background-color: #658D1B;
			border-radius: 12px;
			font-size: 17px;
			color: white;
		} #story-creation-view #submit-story-creation:focus {
			outline: none;
		} #story-creation-view #submit-story-creation:hover {
			background-color: #84BD00;
		}		
		#preview-creation-story-header {
			cursor: pointer;
			display: block;
			padding: 5px 40px;
			margin: 40px 0px 40px 0px;
			color: #4f4f4f;
			background-color: #edecec;
			border-radius: 15px;
		}
		#preview-creation-story {
			display: none;
		}
		#success-message {
			text-align: center;
			color: #658D1B;
			display: none;
		}
	/* ---- END CREATE STORY VIEW ---- */
	/* ---- BEGIN COMMITMENT CREATION VIEW ---- */
	#commitment-creation-view {
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		font-size: 20px;
		top: 60px;
		width: 1000px;
	}
		#commitment-creation-view #commitment-creation-form {
			width: 1000px;
			margin: 0;
			padding: 15px 0px;
			background-color: #edecec;
			list-style-type: none;
			border-radius: 15px;
			overflow: auto;
		}
			#commitment-creation-view #commitment-creation-form h2 {
				font-size: 15px;
				width: 300px;
				text-align: right;
				float: left;
				color: #4f4f4f;
				clear: left;
				margin: 13px 0px;
			}
			#commitment-creation-view #commitment-creation-form .create-commitment-input-field {
				float: left;
				border: none;
				margin: 10px 20px;
				background-color: #d5d4d4;
				border-radius: 5px;
				font-size: 12px;
			} #commitment-creation-view #commitment-creation-form .create-commitment-input-field:focus {
				outline: none;
			}
			#commitment-creation-view #commitment-creation-form input {
				height: 27px;
				width: 200px;	
				padding: 0px 0px 0px 10px;		
			} 
			#commitment-creation-view #commitment-creation-form select {
				height: 27px;
				width: 300px;
				padding: 0px 0px 0px 10px;
			} 
			#commitment-creation-view #commitment-creation-form button {
				cursor: pointer;
				padding: 15px;
			}
			#photo-upload-warning {
				float: left;
				width: 630px;
				margin: 13px 0px 0px 20px;
				font-size: 15px;
				color: red;
			}
			#create-story-photo-uplaod {
				position: absolute;
				right: 0px;
			}
		#commitment-creation-view #submit-commitment-creation {
			float: right;
			margin-right: 5px;
			margin-top: 20px;
			margin-bottom: 50px;
			cursor: pointer;
			padding: 11px 15px;
			border: none;
			background-color: #658D1B;
			border-radius: 12px;
			font-size: 17px;
			color: white;
		} #commitment-creation-view #submit-commitment-creation:focus {
			outline: none;
		} #commitment-creation-view #submit-commitment-creation:hover {
			background-color: #84BD00;
		}		
		#preview-creation-commitment-header {
			cursor: pointer;
			display: block;
			padding: 5px 40px;
			margin: 40px 0px 40px 0px;
			color: #4f4f4f;
			background-color: #edecec;
			border-radius: 15px;
		}
		#preview-creation-commitment {
			display: none;
		}
		#success-message {
			text-align: center;
			color: #658D1B;
			display: none;
		}
	/* ---- END COMMITMENT CREATION VIEW ---- */

	/* ---- BEGIN FEATURED VIEW ---- */
	/*   story styles at the bottom  */
	#featured-view {
		position: absolute;
		font-size: 20px;
		top: 50px;
		width: 1000px;
		left: 0px;
	}
		#featured-view h1 {
			position: relative;
			color: #959595;
			text-align: center;
			background-color: #edecec;
			border-radius: 15px;
			margin: 10px 0px;
		}
		#mini-featured-stories {
			width: 100%;
		}
			#mini-featured-stories h1 {
				text-align: center;
				bottom: 20px;
				font-size: 30px;
				margin: 0px 0px 0px 0px;
				margin-left: 20px;
			}
			#mini-featured-stories button{
				cursor: pointer;
				border: none;
				border-radius:10px;
				background-color: #edecec;
				font-size: 15px;
				padding: 0;
				margin: 0px 10px 0px 0px;
			} #mini-featured-stories button:focus {
				outline: none;
			} #mini-featured-stories button:hover {
				background-color: #d5d4d4;
			}
				#mini-featured-stories button img:first-child{
					float: left;
					margin: 5px;
					height: 30px;
				}
				#mini-featured-stories #mini-photo{
					float: right;
					height: 40px;
				}
				#mini-featured-stories button h3 {
					font-size: 18px;
					font-weight: 300;
					float: left;
					margin: 10px 10px 0px 0px;
				}
		#current-featured-story {
			margin-top: 4px;
			margin-bottom: 30px;
		}
	/* ---- END FEATURED VIEW ---- */

	/* ---- BEGIN ALL VIEW ---- */
	#all-view {
		position: absolute;
		top:  542px;
		width: 1000px;
	}
		#search-and-filter {
			float: left;
			clear: both;
			height: 170px;
			width: 350px;
			border-radius: 15px;
			background-color: #edecec;
			padding: 20px;
		}
			#search-and-filter #all-view-search {
				width: 330px;
				height: 30px;
				font-size: 20px;
				border-radius: 10px;
				border: none;
				padding-left: 20px;
				color: #0067C5;
				margin-bottom: 5px;
			} #search-and-filter #all-view-search:focus {
				outline: none;
			}
			#search-and-filter h3 {
				width: 150px;
				float: left;
				margin: 7px 20px 0px 0px;
				font-size: 15px;
				clear: left;
				color: #4f4f4f;
				text-align: right;
			}
			#search-and-filter .all-view-dropdown {
				width: 180px;
				height: 20px;
				float: left;
				font-size: 15px;
				padding: 0;
				color: #4f4f4f;
				border: none;
				margin: 8px 0px;
				background-color: #d5d4d4;
				border-radius: 5px;
			} #search-and-filter .all-view-dropdown:focus {
				outline: none;
			}
			#search-and-filter .card-type-filter{
				float: left;
				margin: 11px 6px 0px 0px;
				width: 13px;
			}
			#search-and-filter .card-type-filter:last-child {
				margin-right: 0;
			}
			#search-and-filter img{
				margin: 6px 4px 0px 0px;
				height: 23px;
				width: 23px;
				float: left;
			}
			#reset-search-and-filter {
				cursor: pointer;
				display: block;
				border-radius: 5px;
				padding: 5px 10px;
				border: none;
				background-color: #d5d4d4;
				float: right;
				margin-top: 15px;
				clear: both;
			} #reset-search-and-filter:focus {
				outline: none;
			} #reset-search-and-filter:hover {
				background-color: #bfbebe;
			}
		#results-table {
			float: left;
			width: 600px;
			margin: 0px 0px 0px 10px;
			background-color: #edecec;
			border-radius: 10px;
			padding: 5px 20px;
			height: 210px;
			color: #727272;
		} 
			#results-table thead {
				background-color: #d5d4d4;
				border-radius: 10px;
				display: block;
				width: 550px;
			} #results-table thead tr th:nth-child(1){
				width: 50px;
			} #results-table thead tr th:nth-child(2){
				width: 202px;
			} #results-table thead tr th:nth-child(3){
				width: 152px;
			} #results-table thead tr th:nth-child(4){
				width: 130px;
			}
			#results-table tbody {
				display: block;
				height: 160px;
				max-height: 160px;
				width: 550px;
				overflow-y: auto;
			}
			#results-table tbody tr {
				cursor: pointer;
			} #results-table tbody tr:hover {
				background-color: #d2e6f6;
			}
			#results-table tbody tr td{
				border: none;
				padding: 0;
				margin: 0;
			} 
			#results-table tbody tr .col-1 {
				width: 50px;
			} #results-table tbody tr td:nth-child(1) img{
				height: 25px;
				margin-left: 12px;
				margin-top: 4px;
			} #results-table tbody tr td:nth-child(2) {
				width: 202px;
			} #results-table tbody tr td:nth-child(3) {
				width: 152px;
			} #results-table tbody tr td:nth-child(4) {
				width: 130px;
			}
		#all-stories-selected-story {
			float: left;
			margin-top: 10px !important;
		}
	/* ---- END ALL VIEW ---- */

	/* ---- BEGIN MAP VIEW ---- */
	#map-view {
		position: absolute;
		top: 230px;
		width: 1000px;
	}
		#map-view #catalyst-map-canvas {
			width: 1000px;
			height: 500px;
			border-radius: 15px;
		}
	#map-view-solo {
		position: absolute;
		top: 0px;
		width: 1000px;
	}
		#map-view-solo #catalyst-map-canvas {
			width: 1000px;
			height: 500px;
			border-radius: 15px;
		}
	/* ---- END MAP VIEW ---- */		

	/* ---- BEGIN STORY STYLES ---- */
	/* used for any story in the app */
	.catalyst-story {
		width: 1000px;
		height: 300px;
		background-color: #edecec;
		margin-bottom: 15px;
		border-radius: 15px;
	}
		.catalyst-story .catalyst-story-photo-container {
			float: left;
			height: 300px;
			width: 400px;
			margin: 0;
			padding: 0;
		}
			.catalyst-story .catalyst-story-photo {
				float: right;
				height: 300px;
				max-width: 400px;
				border-radius: 0px 15px 15px 0px;
				margin: 0;
				padding: 0;
			}
		.catalyst-story-contents {
			float: left;
			padding: 40px;
			width: 520px;
			height: 220px;
		}
			.catalyst-story .catalyst-story-contents .catalyst-story-catalyst-card {
				float: left;
				margin: 6px 10px 0px 0px;
				padding: 0;
				width: 75px;
				height: 75px;
			}
			.catalyst-story .catalyst-story-contents .catalyst-story-name {
				font-size: 30px;
				margin: 0;
			}
			.catalyst-story .catalyst-story-contents .catalyst-story-group {
				font-size: 16px;
				margin: 0;
			}
			.catalyst-story .catalyst-story-contents .catalyst-story-region {
				font-size: 16px;
				margin: 0;
			}
			.catalyst-story .catalyst-story-contents .catalyst-story-story {
				color: #4f4f4f;
				font-size: 15px;
				margin: 15px 0px 0px 0px;
				height: 130px;
				width: 520px;
				overflow: auto;
			}	
				.all-stories-selected-story .all-stories-selected-story-contents .all-stories-selected-story-catalyst-card {
					float: left;
					margin: 6px 10px 0px 0px;
					padding: 0;
					width: 75px;
					height: 75px;
				}
				.all-stories-selected-story .all-stories-selected-story-contents .all-stories-selected-story-name {
					font-size: 30px;
					margin: 0;
				}
				.all-stories-selected-story .all-stories-selected-story-contents .all-stories-selected-story-group {
					font-size: 16px;
					margin: 0;
				}
				.all-stories-selected-story .all-stories-selected-story-contents .all-stories-selected-story-region {
					font-size: 16px;
					margin: 0;
				}
				.all-stories-selected-story .all-stories-selected-story-contents .all-stories-selected-story-story {
					color: #4f4f4f;
					font-size: 15px;
					margin: 15px 0px 0px 0px;
					height: 130px;
					width: 400px;
					overflow-y: auto;
				}
	/* ---- END STORY STYLES ---- */

/* ---- BEGIN ADMIN SPECIFIC STYLES ----*/
#admin-featured-stories-container {
	width: 1000px;
	height: 640px;
}
	#admin-featured-stories-container h1 {
		font-size: 28px;
	} #admin-featured-stories-container h2 {
		font-size: 22px;
		margin-left: 25px;
	}
	#current-featured-stories-table {
		float: left;
		width: 1000px;
		margin: 0px 0px 40px 0px;
		background-color: #edecec;
		border-radius: 10px;
		padding: 5px 25px;
		height: 195px;
		color: #727272;
	} 
		#current-featured-stories-table thead {
			background-color: #d5d4d4;
			border-radius: 10px;
			display: block;
			width: 850px;
			margin-left: 0px;
		} #current-featured-stories-table thead tr th:nth-child(1){
			width: 100px;
		} #current-featured-stories-table thead tr th:nth-child(2){
			width: 200px;
		} #current-featured-stories-table thead tr th:nth-child(3){
			width: 200px;
		} #current-featured-stories-table thead tr th:nth-child(4){
			width: 200px;
		} #current-featured-stories-table thead tr th:nth-child(5){
			width: 150px;
		}
		#current-featured-stories-table tbody {
			display: block;
			height: 145px;
			max-height: 160px;
			width: 900px;
			overflow-y: auto;
		}
		#current-featured-stories-table tbody tr:hover {
			background-color: #d2e6f6;
		}
		#current-featured-stories-table tbody tr td{
			border: none;
			padding: 0;
			margin: 0;
		} 
		#current-featured-stories-table tbody tr td:nth-child(1) {
			width: 100px;
		} #current-featured-stories-table tbody tr td:nth-child(1) img{
			height: 25px;
			margin-left: 36px;
			margin-top: 4px;
		} #current-featured-stories-table tbody tr td:nth-child(2) {
			width: 200px;
		} #current-featured-stories-table tbody tr td:nth-child(3) {
			width: 200px;
		} #current-featured-stories-table tbody tr td:nth-child(4) {
			width: 200px;
		} #current-featured-stories-table tbody tr td:nth-child(5) {
			width: 150px;
		} #current-featured-stories-table tbody tr td:nth-child(5) button {
			cursor: pointer;
			background-color: #E87722;
			margin-left: 30px;
			color: #743b11;
			border-radius:10px;
			padding: 5px 15px;
			border: none;
		} #current-featured-stories-table tbody tr td:nth-child(5) button:hover {
			background-color: #ec924e;
		} #current-featured-stories-table tbody tr td:nth-child(5) button:focus {
			outline: none;
		}
	#admin-open-add-featured-story {
		float: left;
		font-size: 15px;
		cursor: pointer;
		background-color: white;
		border: solid 2px #658D1B;
		margin: 20px;
		color: #658D1B;
		border-radius:10px;
		padding: 10px 20px;
	} #admin-open-add-featured-story:hover {
		background-color: #e0e8d1;
	} #admin-open-add-featured-story:focus {
		outline: none;
	}

	#admin-search-and-filter {
		float: left;
		clear: both;
		height: 170px;
		width: 350px;
		border-radius: 15px;
		background-color: #edecec;
		padding: 20px;
	}
		#admin-search-and-filter #all-view-search {
			width: 330px;
			height: 30px;
			font-size: 20px;
			border-radius: 10px;
			border: none;
			padding-left: 20px;
			color: #0067C5;
			margin-bottom: 5px;
		} #admin-search-and-filter #all-view-search:focus {
			outline: none;
		}
		#admin-search-and-filter h3 {
			width: 150px;
			float: left;
			margin: 7px 20px 0px 0px;
			font-size: 15px;
			clear: left;
			color: #4f4f4f;
			text-align: right;
		}
		#admin-search-and-filter .all-view-dropdown {
			width: 180px;
			height: 20px;
			float: left;
			font-size: 15px;
			padding: 0;
			color: #4f4f4f;
			border: none;
			margin: 8px 0px;
			background-color: #d5d4d4;
			border-radius: 5px;
		} #admin-search-and-filter .all-view-dropdown:focus {
			outline: none;
		}
		#admin-search-and-filter .card-type-filter{
			float: left;
			margin: 11px 6px 0px 0px;
			width: 13px;
		}
		#admin-search-and-filter .card-type-filter:last-child {
			margin-right: 0;
		}
		#admin-search-and-filter img{
			margin: 6px 4px 0px 0px;
			height: 23px;
			width: 23px;
			float: left;
		}
		#reset-admin-search-and-filter {
			cursor: pointer;
			display: block;
			border-radius: 5px;
			padding: 5px 10px;
			border: none;
			background-color: #d5d4d4;
			float: right;
			margin-top: 15px;
			clear: both;
		} #reset-admin-search-and-filter:focus {
			outline: none;
		} #reset-admin-search-and-filter:hover {
			background-color: #bfbebe;
		}
	#admin-results-table {
		float: left;
		width: 600px;
		margin: 0px 0px 0px 10px;
		background-color: #edecec;
		border-radius: 10px;
		padding: 5px 20px;
		height: 210px;
		color: #727272;
	} 
		#admin-results-table thead {
			background-color: #d5d4d4;
			border-radius: 10px;
			display: block;
			width: 550px;
		} #admin-results-table thead tr th:nth-child(1){
			width: 50px;
		} #admin-results-table thead tr th:nth-child(2){
			width: 202px;
		} #admin-results-table thead tr th:nth-child(3){
			width: 152px;
		} #admin-results-table thead tr th:nth-child(4){
			width: 130px;
		}
		#admin-results-table tbody {
			display: block;
			height: 160px;
			max-height: 160px;
			width: 550px;
			overflow-y: auto;
		} #admin-results-table tbody tr:hover {
			background-color: #d2e6f6;
		}
		#admin-results-table tbody tr td{
			border: none;
			padding: 0;
			margin: 0;
		} 
		#admin-results-table tbody tr .col-1 {
			width: 50px;
		} #admin-results-table tbody tr td:nth-child(1) img{
			height: 25px;
			margin-left: 12px;
			margin-top: 4px;
		} #admin-results-table tbody tr td:nth-child(2) {
			width: 202px;
		} #admin-results-table tbody tr td:nth-child(3) {
			width: 152px;
		} #admin-results-table tbody tr td:nth-child(4) {
			width: 130px;
		} #admin-results-table tbody tr td:nth-child(4) button {
			cursor: pointer;
			float: right;
			background-color: #658D1B;
			color: white;
			padding: 3px 5px;
			margin: 0;
			border: none;
		} #admin-results-table tbody tr td:nth-child(4) button:hover {
			background-color: #749831;
		} #admin-results-table tbody tr td:nth-child(4) button:focus {
			outline: none;
		}
	#all-stories-selected-story {
		float: left;
		margin-top: 20px;
	}

#admin-stats {
	display: block;
	height: auto;
	margin-top: 30px;
}
	#admin-stats h1 {
		font-size: 28px;
	} #admin-stats h2 {
		font-size: 22px;
		margin-left: 0px;
	}

	#admin-stats #stats h2 {
		color: #658D1B;
		margin-left: 10px;
	}
	#admin-stats #stats .stats-output {
		margin-left: 0px;
	}

	.a-stat-container {
		background-color: #edecec;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 10px;
		width: 980px;
	}
		.a-stat-container h3 {
			margin-left: 40px;
		}
		.a-stat-container select {
			margin-left: 40px;
		}
		.a-stat-container img {
			width: 30px;
		}
		.a-stat-container .container-1 {
			float: left;
			clear: both;
			margin-left: 30px;
			width: 400px;
		}
		.a-stat-container .container-2 {
			width: 400px;
			display: inline;
		} .a-stat-container  .container-2 select {
			margin-left: 40px;
		} .a-stat-container  .container-2 h3 {
			position: relative;
			left: 40px;
		}
/* ---- END ADMIN SPECIFIC STYLES */
